<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <!-- Including concat and minified css-->
    <link href="{{ site.baseurl }}/stylesheets/concat-style.css" rel="stylesheet" media="(min-width: 320px)">
    <link href="{{ site.baseurl }}/fonts/ylp-font-awesome/style.css" rel="stylesheet" media="(min-width:320px)">
    <!-- Including minified modernizr -->
    <script src="{{site.baseurl}}/javascripts/modernizr.min.js"></script>
  </head>

  <body>
    <div class="container">
        <header>
          <h1><span class="icon-ylp"></span></h1>
          {% include menu.html %}
       </header>

        <div class="row">
            <section id="main-content" class="col-md-8">
                {{ content }}
            </section>
            
            <section id="social-side-bar" class="col-md-4">
                {% include social.html %}
            </section>
        </div>

        {% include footer.html %}
    </div>
    
    <!-- Including concat and minified js -->
    <script src="{{ site.baseurl }}/javascripts/concat-js.js"></script>
  </body>
</html>
