<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <!-- Including concat and minified css-->
    <link href="{{ site.baseurl }}/stylesheets/concat-style.css" rel="stylesheet" media="(min-width: 320px)">
    <link href="{{ site.baseurl }}/fonts/ylp-font-awesome/style.css" rel="stylesheet" media="(min-width:320px)">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
        <header>
          <h1>J<span class="icon-ylp"></span>S</h1>
          {% include menu.html %}
       </header>

        <section id="main-content">
            {{ content }}
        </section>
        
        <section id="social-side-bar" class="panel">
            {% include social.html %}
        </section>

        {% include footer.html %}
    </div>
    
    <!-- Including concat and minified js -->
    <script src="{{ site.baseurl }}/javascripts/concat-js.js"></script>
  </body>
</html>
